@font-face {
  font-family: "PlusJakartaSans-700";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/PlusJakartaSans-VariableFont_wght.woff2") format("woff2"), url("../../fonts/PlusJakartaSans-VariableFont_wght.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PlusJakartaSans-500";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/PlusJakartaSans-VariableFont_wght.woff2") format("woff2"), url("../../fonts/PlusJakartaSans-VariableFont_wght.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PlusJakartaSans-400";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/PlusJakartaSans-VariableFont_wght.woff2") format("woff2"), url("../../fonts/PlusJakartaSans-VariableFont_wght.woff") format("woff");
  font-display: swap;
}
