*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PlusJakartaSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9396a4;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

a {
  text-decoration: none;
}
