.breadcrumbs__list {
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #100a55;
  margin-bottom: 32px;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  gap: 8px;

  &:not(:last-child)::after {
    content: "";
    width: 20px;
    height: 20px;
    background: url("../../images/icons/stack.svg#arrow-right-grey");
    margin-left: 10px;
  }
}

.breadcrumbs__link {
  color: #100a55;
}

.breadcrumbs__number {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  width: 28px;
  height: 28px;
  background-color: #7065f0;
  border: 2px solid #7065f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;

  &--checked {
    background-color: #e0def7;
  }

  &--checked::before {
    content: "";
    width: 16px;
    height: 16px;
    background: url("../../images/icons/stack.svg#check-mark-purple") no-repeat center;
  }
}
