.field {
  border: none;
  margin: 0;
  padding: 0;

  &--main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 16px;
  }
}

.field__wrapper {
  grid-column: 1 / -1;
  display: flex;
  gap: 24px;
}

.field__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  &:nth-child(1) {
    grid-column: 1 / -1;
  }
}

.field__title {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.field__select {
  border: 1px solid #E0DEF7;
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
}

.field__input {
  border: 1px solid #E0DEF7;
  border-radius: 8px;
  padding: 12px 16px;
}

.field__input {
  width: 100%;
}
