.information {
  border: 1.5px solid #E0DEF7;
  border-radius: 8px;
  padding: 24px;
  color: #000929;
}

.information__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.005em;
}
