.information {
  border: 1.5px solid #e0def7;
  border-radius: 8px;
  padding: 24px;
  color: #000929;
}

.information__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.information__form {
  position: relative;
}
