.select {
  margin: 0;
  padding: 8px;
  list-style-type: none;
  border: 1px solid #E0DEF7;

}

.select__item {
  width: 100%;
}

.select__link {
  border-radius: 8px;
  padding: 10px 16px 14px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  gap: 16px;
  color: #000929;

  &:hover {
    color: #7065F0;
    background-color: #F0EFFB;
  }

  &:hover svg path {
    stroke: #7065F0;
  }
}

//808494
