.select {
  padding: 8px;
  list-style-type: none;
  background-color: #ffffff;
  display: none;

  &--opened {
    display: block;
  }
}

.select__item {
  width: 100%;
}

.select__link {
  border-radius: 8px;
  padding: 10px 16px 14px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  gap: 16px;
  color: #000929;
  height: 44px;

  &:hover {
    color: #7065f0;
    background-color: #f0effb;
  }

  &:hover svg path {
    stroke: #7065f0;
  }
}

//808494
